*{
margin: 0;
padding: 0;
}

.img-block{
display: flex;
justify-content: space-between;
max-width: 940px;
padding-top:32px;
list-style:none;
margin-left: 252px;
}

.hr{
margin-top: 30px;
width: 940px;
margin-left: 250px;
border: 1;
}

.main{
max-width: 940px;
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 auto;
padding-top: 20px;
padding-bottom:40px ;
}

.eggs{
text-align: center;
}